/* ********************** */
/* **   php-countdown  ** */
/* **  Copyright 2009  ** */
/* **  philip   stark  ** */
/* **  CSS Stylesheet  ** */
/* ********************** */

/* General style information */
body {
	padding:     0px;
	margin:      0px;
	background:  #444444;
	font-size:   12px;
	font-family: arial, helvetica, sans-serif;
	color:       #cccccc;
	text-align:  center;
}

/* countdown */
.countdown{
	margin-top:      50px;
	padding-top:     10px;
	padding-bottom:  10px;
	font-weight:     bold;
	background:      #4f4f4f;
	color:           #cccccc;
	font-size:       48px;
	text-decoration: none;
	text-align:      center;
	margin-left:     auto ;
	margin-right:    auto ;
}

/* display of the next upcoming event */
div.next_event_wrapper{
	margin-top:      50px;
	padding-top:     18px;
	padding-bottom:  18px;
	padding-left:    25px;
	padding-right:   25px;
	font-weight:     normal;
	background:      #4f4f4f;
	color:           #cccccc;
	font-size:       36px;
	text-decoration: none;
	text-align:      left;
	margin-left:     auto;
	margin-right:    auto;
	width:           600px;
}

div.next_event_header{
	font-size:       28px;
	text-align:      left;
	padding:         0;
	margin:          0;
	border:          0;
	color:           #696969; 
/*	float:           left;*/
}

div.next_event{
	padding:       0;
	margin-top:    -0.8em;
	border:        0;
	font-weight:   normal;
	background:    #4f4f4f;
	color:         #cccccc;
	font-size:     36px;
	text-align:    center;
	width:         100%;
/*	float:         left;*/
}

/* event list container*/
div.event_list_wrapper{
	margin-top:      50px;
	padding-top:     25px;
	padding-bottom:  25px;
	padding-left:    25px;
	padding-right:   25px;
	font-weight:     normal;
	background:      #4f4f4f;
	color:           #cccccc;
	font-size:       16px;
	text-decoration: none;
	text-align:      left;
	margin-left:     auto;
	margin-right:    auto;
	width:           600px;
	vertical-align:  middle;
}


.next_event_list{
	font-weight:    bold;
	color:          #55a9e9;
	padding-top:    3px;
	padding-bottom: 3px;
	margin-top:     0px;
	border:         0px;
/*	background:     #4f4f4f;*/
/*	font-size:      36px;*/
	text-align:     left;
	width:          100%;
/*	float:          left;*/
	vertical-align: middle;
}

.old_event{
	font-weight: normal;
	color:          #59cf66;
	padding-top:    3px;
	padding-bottom: 3px;
	margin-top:     0px;
	border:         0px;
/*	background:     #4f4f4f;*/
/*	font-size:      36px;*/
	text-align:     left;
	width:          100%;
/*	float:          left;*/
	vertical-align: middle;
}

.event_to_come{
	font-weight:    normal;
	color:          #e96468;
	padding-top:    3px;
	padding-bottom: 3px;
	margin-top:     0px;
	border:         0px;
/*	background:     #4f4f4f;*/
/*	font-size:      36px;*/
	text-align:     left;
	width:          100%;
/*	float:          left;*/
	vertical-align: middle;
}

.event_name{
/*	float: left;*/
	text-align:     left;
	padding-top:    0.12em;
	vertical-align: middle;
/*	width:          300px;*/

}

.event_date{
	float: right;
	text-align:     right;
	padding-top:    0.12em;
	vertical-align: middle;
/*	width:          200px;*/

}
.event_status{
/*	float: left;*/
	text-align:     right;
/*	padding-top:    0.1em;*/
	vertical-align: middle;
/*	width:          22px;*/
/*	height:         22px;*/
	margin-right:   4px;
}


/* status images */
img{
	vertical-align: middle;
	border-style:   none;
/*	float:          left;*/
}

div.copyright{
	margin-top:    30px;
	text-align:    center;
	font-size:     10px;
}

